<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
    <link
      rel="stylesheet"
      data-purpose="Layout StyleSheet"
      title="Web Awesome"
      href="/css/app-wa-462d1fe84b879d730fe2180b0e0354e0.css?vsn=d"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css"
    />
    <link rel="stylesheet" href="./css/profile.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      /* Hide the default file input */
      #profile-picture {
        display: none;
      }

      /* Custom button styling */
      #profile-picture-label {
        display: inline-block;
        cursor: pointer;
        border: 2px solid #ccc;
        border-radius: 50%;
        width: 6rem;
        height: 6rem;
        background: #f0f0f0;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #profile-picture-label i {
        font-size: 2rem;
        color: #333;
      }
    </style>
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
    <main class="flex items-center justify-center">
      <section
        class="bg-white rounded-lg flex items-center justify-center flex-col p-4 gap-3"
      >
        <% if (foundUser.role==="employee") { %>
        <form
          method="post"
          enctype="multipart/form-data"
          action="/api/auth/updateuserprofile"
          class="flex items-center justify-center flex-col gap-1"
          id="userForm"
        >
          <div class="flex items-center justify-center relative mb-3">
            <label
              for="profile-picture"
              class="relative"
              id="profile-picture-label"
            >
              <img
                id="profile-picture-preview"
                src="<%= foundUser.profilePic?foundUser.profilePic:'https://via.placeholder.com/150' %>"
                alt="Profile Picture Preview"
                class="w-full h-full object-cover rounded-full border-2 border-gray-300"
              />
            </label>
            <input
              type="file"
              id="profile-picture"
              name="profilePic"
              class="w-full h-full object-cover rounded-full border-2 border-gray-300 cursor-pointer"
              accept="image/*"
              onchange="previewImage(event)"
            />
          </div>

          <div
            id="first-row"
            class="flex items-center justify-center gap-4 w-[550px]"
          >
            <div class="flex flex-col w-full">
              <label for="firstName" class="text-sm font-medium text-gray-700">
                First Name <span class="text-red-500">*</span>
              </label>
              <input
                value="<%= foundUser?foundUser.firstName:'' %>"
                type="text"
                id="firstName"
                placeholder="John"
                class="p-2 border border-gray-300 rounded-md shadow-sm"
              />
            </div>
            <div class="flex flex-col w-full">
              <label for="lastName" class="text-sm font-medium text-gray-700">
                Last Name<span class="text-red-500">*</span>
              </label>
              <input
                value="<%= foundUser?foundUser.lastName:'' %>"
                type="text"
                id="lastName"
                placeholder="Doe"
                class="p-2 border border-gray-300 rounded-md shadow-sm"
              />
            </div>
          </div>
          <div
            id="second-row"
            class="flex items-center justify-center gap-4 w-[550px]"
          >
            <div class="flex flex-col w-full">
              <label for="email" class="text-sm font-medium text-gray-700">
                Email ID <span class="text-red-500">*</span>
              </label>
              <input
                value="<%= foundUser?foundUser.email:'' %>"
                type="email"
                id="email"
                name="email"
                placeholder="example@domain.com"
                class="p-2 border border-gray-300 rounded-md shadow-sm"
              />
            </div>
            <div class="flex flex-col w-full">
              <label for="phone" class="text-sm font-medium text-gray-700">
                Phone Number <span class="text-red-500">*</span>
              </label>
              <input
                value="<%= foundUser?foundUser.phone:'' %>"
                type="tel"
                id="phone"
                name="phone"
                placeholder="+1234567890"
                class="p-2 border border-gray-300 rounded-md shadow-sm"
              />
            </div>
          </div>

          <div id="birth" class="flex flex-col w-[550px]">
            <label for="dob" class="text-sm font-medium text-gray-700">
              Date of Birth <span class="text-red-500">*</span>
            </label>
            <input
              value="<%= foundUser.dob ? new Date(foundUser.dob).toLocaleDateString('en-GB').split('/').reverse().join('-') : '' %>"
              name="dob"
              type="date"
              id="dob"
              class="p-2 border border-gray-300 rounded-md shadow-sm"
            />
          </div>
          <div id="key" class="flex flex-col w-[550px]">
            <label for="key-skills" class="text-sm font-medium text-gray-700">
              Key Skills
            </label>
            <input
              value="<%= foundUser.keySkills?foundUser.keySkills.toString():'' %>"
              type="text"
              id="key-skills"
              name="keySkills"
              placeholder="e.g., JavaScript, Python, React"
              class="p-2 border border-gray-300 rounded-md shadow-sm"
            />
          </div>

          <div id="resume" class="flex flex-col w-[550px]">
            <label for="resume" class="text-sm font-medium text-gray-700">
              Upload Resume
            </label>
            <% if (foundUser.resume) { %>
            <div class="mb-2">
              <a
                href="<%= foundUser.resume %>"
                target="_blank"
                class="text-blue-600 underline"
              >
                View Current Resume
              </a>
            </div>
            <% } %>

            <input
              type="file"
              accept=".pdf"
              id="resume"
              name="resume"
              class="p-2 border border-gray-300 rounded-md shadow-sm"
            />
          </div>

          <div id="summary" class="flex flex-col w-[550px]">
            <label for="summary" class="text-sm font-medium text-gray-700">
              Summary
            </label>
            <textarea
              id="summary"
              name="summary"
              rows="4"
              placeholder="Write a brief summary about yourself..."
              class="p-2 border border-gray-300 rounded-md shadow-sm"
            >
            <%= foundUser.summary ? foundUser.summary.trim() : '' %>
          </textarea
            >
          </div>
          <div id="graduation" class="flex flex-col gap-1 w-[550px]">
            <label class="text-sm font-medium text-gray-700"
              >Graduation Details</label
            >
            <div class="flex flex-col">
              <label
                for="10th-percentage"
                class="text-sm font-medium text-gray-700"
              >
                10th Grade Percentage
              </label>
              <input
                value="<%= foundUser.graduationDetails.tenthPercentage||'' %>"
                name="tenthPercentage"
                type="text"
                id="10th-percentage"
                name="10th_percentage"
                placeholder="e.g., 85%"
                class="p-2 border border-gray-300 rounded-md shadow-sm"
              />
            </div>
            <div class="flex flex-col mt-4">
              <label
                for="12th-percentage"
                class="text-sm font-medium text-gray-700"
              >
                12th Grade Percentage
              </label>
              <input
                value="<%= foundUser.graduationDetails.twelfthPercentage||'' %>"
                name="twelfthPercentage"
                type="text"
                id="12th-percentage"
                name="12th_percentage"
                placeholder="e.g., 90%"
                class="p-2 border border-gray-300 rounded-md shadow-sm"
              />
            </div>
            <div class="flex flex-col mt-4">
              <label
                for="graduation-year"
                class="text-sm font-medium text-gray-700"
              >
                Graduation Year
              </label>
              <input
                value="<%= foundUser.graduationDetails.graduationYear||'' %>"
                name="graduationYear"
                type="text"
                id="graduation-year"
                name="graduation_year"
                placeholder="e.g., 2023"
                class="p-2 border border-gray-300 rounded-md shadow-sm"
              />
            </div>
            <div class="flex flex-col">
              <label
                for="graduation-institution"
                class="text-sm font-medium text-gray-700"
              >
                Graduation Cgpa
              </label>
              <input
                value="<%= foundUser.graduationDetails.graduationCGPA||'' %>"
                name="graduationCGPA"
                type="text"
                id="graduation-cgpa"
                placeholder="e.g., 8.7, 4.1"
                class="p-2 border border-gray-300 rounded-md shadow-sm"
              />
              <label
                for="graduation-institution"
                class="text-sm font-medium text-gray-700 mt-2"
              >
                Graduation Institution
              </label>
              <input
                value="<%= foundUser.graduationDetails.graduationInstitution||'' %>"
                name="graduationInstitution"
                type="text"
                id="graduation-institution"
                placeholder="e.g., XYZ University"
                class="p-2 border border-gray-300 rounded-md shadow-sm"
              />
            </div>
          </div>

          <button
            type="submit"
            class="bg-blue-600 text-white p-2 rounded-md hover:bg-blue-800"
          >
            Update Profile
          </button>
        </form>
        <% } else { %>
        <form
          method="post"
          enctype="multipart/form-data"
          action="/api/company/updatecompanyprofile"
          class="flex items-center justify-center flex-col gap-1"
          id="companyForm"
        >
          <div class="flex items-center justify-center relative mb-3">
            <label
              for="profile-picture"
              class="relative"
              id="profile-picture-label"
            >
              <img
                id="profile-picture-preview"
                src="https://via.placeholder.com/150"
                alt="Profile Picture Preview"
                class="w-full h-full object-cover rounded-full border-2 border-gray-300"
              />
            </label>
            <input
              type="file"
              id="profile-picture"
              name="logo"
              class="w-full h-full object-cover rounded-full border-2 border-gray-300 cursor-pointer"
              accept="image/*"
              onchange="previewImage(event)"
            />
          </div>

          <div
            id="first-row"
            class="flex items-center justify-center gap-4 w-[550px]"
          >
            <div class="flex flex-col w-full">
              <label
                for="companyName"
                class="text-sm font-medium text-gray-700"
              >
                Company Name <span class="text-red-500">*</span>
              </label>
              <input
                type="text"
                id="companyName"
                name="companyName"
                placeholder="Company Name"
                class="p-2 border border-gray-300 rounded-md shadow-sm"
              />
            </div>
            <div class="flex flex-col w-full">
              <label
                for="companyWebsite"
                class="text-sm font-medium text-gray-700"
              >
                Company Website
              </label>
              <input
                type="url"
                id="companyWebsite"
                name="companyWebsite"
                placeholder="https://www.company.com"
                class="p-2 border border-gray-300 rounded-md shadow-sm"
              />
            </div>
          </div>

          <div
            id="second-row"
            class="flex items-center justify-center gap-4 w-[550px]"
          >
            <div class="flex flex-col w-full">
              <label
                for="companyEmail"
                class="text-sm font-medium text-gray-700"
              >
                Company Email <span class="text-red-500">*</span>
              </label>
              <input
                type="email"
                id="companyEmail"
                name="companyEmail"
                placeholder="example@company.com"
                class="p-2 border border-gray-300 rounded-md shadow-sm"
              />
            </div>
            <div class="flex flex-col w-full">
              <label
                for="companyPhone"
                class="text-sm font-medium text-gray-700"
              >
                Company Phone <span class="text-red-500">*</span>
              </label>
              <input
                type="tel"
                id="companyPhone"
                name="companyPhone"
                placeholder="+1234567890"
                class="p-2 border border-gray-300 rounded-md shadow-sm"
              />
            </div>
          </div>

          <div id="address-row" class="flex flex-col w-[550px]">
            <label
              for="companyAddress"
              class="text-sm font-medium text-gray-700"
            >
              Company Address
            </label>
            <input
              type="text"
              id="companyAddress"
              name="companyAddress"
              placeholder="123 Business St, City, Country"
              class="p-2 border border-gray-300 rounded-md shadow-sm"
            />
          </div>

          <div id="description-row" class="flex flex-col w-[550px]">
            <label
              for="companyDescription"
              class="text-sm font-medium text-gray-700"
            >
              Company Description
            </label>
            <textarea
              id="companyDescription"
              name="companyDescription"
              rows="4"
              placeholder="Brief description about the company..."
              class="p-2 border border-gray-300 rounded-md shadow-sm"
            ></textarea>
          </div>

          <button
            type="submit"
            class="bg-blue-600 text-white p-2 rounded-md hover:bg-blue-800"
          >
            Update Company Info
          </button>
        </form>

        <% } %>
      </section>
    </main>

    <script>
      function previewImage(event) {
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onload = function (e) {
          const preview = document.getElementById("profile-picture-preview");
          const previewTwo = document.getElementById("company-logo-preview");
          preview.src = e.target.result;
          previewTwo.src = e.target.result;
        };

        if (file) {
          reader.readAsDataURL(file);
        }
      }
    </script>
  </body>
</html>
